/node_modules
.env
/world.svg
/world2.svg
/src/worldMap.js
/src/all-countries2.json
/src/countriesList-old.json
/src/App1.js
/src/map-afghanistan.png
/src/pages/SidebarExample.js
/src/pages/Country2.js
/src/pages/CountriesMobile2.js

# Local Netlify folder
.netlify
